
}
  h1{
  font-size: 100px;
  margin-top: 30;
  margin-bottom: 15px;
  }
 .music {
		margin-top: 10px;
		text-align: justify-all;
	color:#202020;
 		font-size: 20px;
}
.music1{
		margin-top: -10px;
		text-align: justify;
	color:#666666;
}

.kesh,.marias,.clairo,.faye,.men{
		margin-top:-10px;
		text-align: justify;
		
}
.k,.m,.c,.f,.mm,.m{
		font-size:20px;
		margin-top:2px;
		color:#660033;
- Deep plum (#) - adds a nice contrast
- Soft gray (#666666) - keeps it chill and modern
- Rich purple (#4B0082) - creates a nice harmony
- Dark blue (#2F4F7F) - adds a nice pop of contrast
}
video{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
		border-color: "#000000";
    width: 100%;
    max-width: 100%;  
    height: auto;
    display: block;
    margin: 10px auto;  
    border-radius: 10px
		
    }
body{
		background-color:#E6E6FA;
- Pastel pink (#)
- Lavender (#)
- Soft blue (#87CEEB)
- Mint green (#ACFFAC)
- Warm beige (#F5F5DC)
}
 p{
		text-align: center;
 		font-style: bold?
}

